.box {
  width:600px;
  height:400px;
  position:relative;
  overflow:hidden;
}
.box .slideup{
  width:600px;
  height:400px;
  background:rgba(32,178,170,0.9);
  position:absolute;
  top:365px;
  left:0;
  color:#fff;
  -webkit-transition: 0.2s;
  -moz-transition:  0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.box .slideup:checked {
  top:0;
  background:rgba(32,178,170,0.8);
}
  
.box .slideup span {
  margin:5px;
  padding:5px;
  text-align:center;
  font-weight:bold;
  display:block;
}
.box .slideup:hover span {
  display:none;
}
.slideup_content {
}  